:root {
  --primary: #00897b;
}

* {
  font-family: Garamond, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  overflow: scroll;
  scroll-behavior: smooth;
}

/* .parent {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch
} */



.heading-center {
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: inline-block;
  text-align: center;
}

.left-align {
  text-align: left;
}

img {
  object-fit: cover;
}

.headshot {
  display: flex;
  align-self: center;
}